@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.modal-content {
    height: fit-content !important;
    background-color: black;
    color: white;
}

.close {
    color: white !important;
    opacity: 1 !important;
}

.close:hover {
    color: whitesmoke !important;
    opacity: 1 !important;
}

.month {
    font-family: Handlee;
    font-weight: bolder;
    background-image: url(./present.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 5vw;
    
}

.month:hover, .month:focus {
    border: none;
    outline: none;
    box-shadow: none;
}