
@media screen and (min-width: 992px) {
  body {
    background: url('./background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 991px) {
  body {
    background-color: #141637;
  }

}